/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-bottom: 1rem;
}

.container {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.clear {
    clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both; 
}

img {
    margin: 0 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text {
    padding: 10px;
}
